nav {
  display: flex;
  justify-content: space-between;
  padding: 0px 0px 24px 0px;
}

body {
  background: #f1f1f3;
}

header {
  padding: 24px 128px 24px 128px;
}

.header-container {
  background-color: rgba(245, 245, 245, 1);
  display: flex;
  width: 100%;
  align-items: center;
  gap: 32px 80px;
  font-family: Fira Sans, sans-serif;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 24px 128px;
}
.brand-title {
  color: rgba(14, 14, 14, 1);
  font-size: 26px;
  font-weight: 700;
  font-family: Fira Sans;
  margin: 0;
}
.auth-button {
  align-self: stretch;
  font-family: Fira Sans;
  border-radius: 8px;
  gap: 32px 38px;
  font-size: 18px;
  color: rgba(0, 106, 80, 1);
  font-weight: 600;
  margin: 0;
  padding: 15px 30px;
  border: 1px solid rgba(0, 106, 80, 1);
  background: none;
  cursor: pointer;
}
.auth-button:hover,
.auth-button:focus {
  background-color: rgba(0, 106, 80, 0.1);
  outline: none;
}
.auth-button:focus-visible {
  outline: 2px solid rgba(0, 106, 80, 1);
  outline-offset: 2px;
}

.hero-container {
  border-radius: 24px;
  background-color: rgba(198, 228, 214, 1);
  align-self: center;
  display: flex;
  justify-content: space-between;
  /* flex-direction: column; */
  align-items: center;
  width: 850px;
  gap: 32px 51px;
  font-family: Fira Sans, sans-serif;
  /* flex-wrap: wrap; */
  padding: 80px 100px 80px 60px;
  /* margin-left: 100px; */
}

.content-wrapper {
  display: flex;

  min-width: 240px;
  flex-direction: column;
  justify-content: start;
  flex-grow: 1;
  width: 498px;
  /* margin: 0px 51px; */
  /* padding: 50px 0px 50px 100px; */
}

.text-content {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: start;
}

.subtitle {
  font-family: Fira Sans;
  color: rgba(14, 14, 14, 0.5);
  font-size: 19px;
  font-weight: 500;
}

.main-heading {
  font-family: Fira Sans;
  color: rgba(14, 14, 14, 1);
  font-size: 45px;
  font-weight: 700;
  margin-top: 16px;
  line-height: 53px;
  letter-spacing: 0%;
  text-align: left;
}

.cta-button {
  font-family: Fira Sans;
  align-self: start;
  border-radius: 8px;
  background-color: rgba(0, 106, 80, 1);
  margin-top: 19px;
  gap: 40px 48px;
  font-size: 14px;
  color: rgba(255, 255, 255, 1);
  font-weight: 600;
  padding: 17px 34px;
  border: none;
  cursor: pointer;
}

.hero-image {
  object-position: center;
  width: 350px;
  min-width: 240px;

  /* padding: 50px 100px 50px 0px; */
  margin: auto 0;
}

.pillars-container {
  display: flex;
  width: 1024px;
  max-width: 100%;
  flex-direction: column;
  font-family: Fira Sans, sans-serif;
  padding: 24px 128px 24px 128px;
}

.section-title {
  color: rgba(14, 14, 14, 1);
  font-size: 32px;
  font-weight: 700;
}

.pillars-grid {
  display: flex;
  margin-top: 32px;
  width: 100%;
  flex-direction: column;
}

.pillars-wrapper {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 15px;
  justify-content: start;
  flex-wrap: wrap;
}

.pillar-card {
  border-radius: 16px;
  background-color: rgba(255, 255, 255, 1);
  align-self: stretch;
  display: flex;
  flex-direction: column;
  justify-content: start;
  flex-grow: 1;
  width: 194px;
  margin: auto 0;
  padding: 24px;
  border: 1px solid rgba(14, 14, 14, 0.15);
}

.pillar-icon {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 64px;
}

.pillar-content {
  display: flex;
  margin-top: 24px;
  width: 100%;
  flex-direction: column;
}

.pillar-title {
  color: rgba(14, 14, 14, 0.8);
  font-size: 16px;
  font-weight: 700;
}

.pillar-description {
  color: rgba(14, 14, 14, 0.7);
  font-size: 13px;
  font-weight: 400;
  line-height: 19px;
  margin-top: 12px;
}

.vision-section {
  display: flex;
  margin-top: 10px;
  width: 1024px;
  max-width: 100%;
  flex-direction: column;
  font-family: Fira Sans, sans-serif;
  padding: 24px 128px 24px 128px;
}
.vision-header {
  display: flex;
  width: 100%;
  flex-direction: column;
}
.vision-title {
  color: rgba(14, 14, 14, 1);
  font-size: 32px;
  font-weight: 700;
}
.vision-description-wrapper {
  display: flex;
  margin: 10px 0 0;
  width: 100%;
  flex-direction: column;
  font-size: 16px;
  color: rgba(14, 14, 14, 0.7);
  line-height: 20px;
}
.vision-text-container {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 10px;
}
.vision-description {
  flex: 1;
  min-width: 240px;
  margin: auto 0;
}
.features-grid {
  display: flex;
  margin-top: 32px;
  width: 100%;
  gap: 24px;
  flex-wrap: wrap;
}
.feature-card {
  border-radius: 16px;
  min-width: 240px;
  display: flex;
  flex-direction: column;
  flex: 1;
  flex-basis: 0%;
  padding: 29px;
}
.digital-card {
  background-color: rgba(84, 144, 245, 0.2);
}
.green-card {
  background-color: rgba(198, 228, 214, 1);
}
.infrastructure-card {
  background-color: rgba(247, 235, 207, 1);
}
.feature-icon {
  width: 64px;
  aspect-ratio: 1;
  object-fit: contain;
}
.feature-content {
  width: 100%;
  margin-top: 24px;
}
.feature-title {
  color: rgba(14, 14, 14, 0.8);
  font-size: 20px;
  font-weight: 700;
}
.feature-description {
  color: rgba(14, 14, 14, 0.7);
  font-size: 16px;
  line-height: 24px;
  margin-top: 1px;
}
.cta-button {
  border-radius: 8px;
  font-size: 16px;
  color: #fff;
  font-weight: 600;
  padding: 11px 20px;
  border: none;
  cursor: pointer;
}
.digital-button {
  background-color: rgba(84, 144, 245, 1);
  margin-top: 2px;
}
.green-button {
  background-color: rgba(9, 161, 92, 1);
  margin-top: 25px;
}
.infrastructure-button {
  background-color: rgba(255, 194, 57, 1);
  margin-top: 25px;
}
.testimonial-section {
  display: flex;
  margin-top: 32px;
  /* width: 100%; */
  align-items: center;
  gap: 24px;
  justify-content: center;
  padding: 24px 70px 0px 80px;
}
.testimonial-card {
  border-radius: 16px;
  background-color: #fff;
  display: flex;
  /* min-width: 240px; */
  width: 150%;
  flex-direction: column;
  flex: 1;
  padding: 48px 24px;
  border: 1px solid rgba(14, 14, 14, 0.15);
}
.testimonial-content {
  position: relative;
  width: 100%;
}
.testimonial-text {
  color: rgba(14, 14, 14, 0.8);
  font-size: 16px;
  line-height: 24px;
}
.testimonial-author {
  margin-top: 12px;
  width: 100%;
}
.author-name {
  color: rgba(14, 14, 14, 0.8);
  font-size: 20px;
  font-weight: 600;
  line-height: 1.2;
}
.author-title {
  color: rgba(14, 14, 14, 0.6);
  font-size: 16px;
  margin-top: 4px;
}
.quote-icon {
  position: absolute;
  left: 0;
  top: -23px;
  width: 64px;
  height: 64px;
}

.opinion-section {
  display: flex;
  margin-top: 64px;
  width: 1010px;
  max-width: 100%;
  flex-direction: column;
  font-family: Fira Sans, sans-serif;
  color: rgba(14, 14, 14, 1);
  justify-content: start;
  padding: 0px 128px 0px 128px;
}
.section-title {
  font-size: 40px;
  font-weight: 700;
}
.opinion-section .content-wrapper {
  border-radius: 16px;
  background-color: rgba(255, 255, 255, 1);
  display: flex;
  margin-top: 24px;
  width: 95.1%;
  flex-direction: column;
  justify-content: center;
  padding: 30px;
}
.content-container {
  display: flex;
  width: 100%;
  align-items: start;
  gap: 4px;
  justify-content: start;
}
.inner-container {
  display: flex;
  min-width: 240px;
  width: 100%;
  align-items: center;
  gap: 4px;
  justify-content: start;
  flex: 1;
  flex-basis: 0%;
}
.questions-container {
  align-self: stretch;
  display: flex;
  min-width: 240px;
  width: 100%;
  flex-direction: column;
  justify-content: start;
  flex: 1;
  flex-basis: 0%;
  margin: auto 0;
}
.header-section {
  background-color: rgba(198, 228, 214, 1);
  display: flex;
  width: 95.8%;
  flex-direction: column;
  font-size: 20px;
  font-weight: 600;
  justify-content: center;
  padding: 20px;
  border: 1px solid rgba(14, 14, 14, 0.15);
}
.header-content {
  display: flex;
  width: 100%;
  align-items: start;
  gap: 40px 100px;
  justify-content: space-between;
  flex-wrap: wrap;
}
.questions-list {
  display: flex;
  width: 100%;
  flex-direction: column;
  font-size: 16px;
  justify-content: start;
}
.question-item {
  display: flex;
  width: 100%;
  align-items: start;
  gap: -1px;
  justify-content: start;
  flex-wrap: wrap;
}
.question-text {
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  min-width: 240px;
  min-height: 92px;
  flex-direction: column;
  font-weight: 600;
  justify-content: center;
  flex: 1;
  flex-basis: 0%;
  padding: 0px 10px;
  border: 1px solid rgba(14, 14, 14, 0.15);
}
.answer-container {
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  flex-direction: column;
  font-weight: 500;
  justify-content: center;
  width: 200px;
  padding: 27px;
  border: 1px solid rgba(14, 14, 14, 0.15);
}
.answer-button {
  border-radius: 4px;
  background-color: rgba(198, 228, 214, 1);
  display: flex;
  width: 100%;
  align-items: center;
  gap: 12px;
  justify-content: center;
  padding: 10px 14px;
  border: 1px solid rgba(14, 14, 14, 1);
  cursor: pointer;
}
.answer-select {
  border-radius: 4px;
  background-color: rgba(198, 228, 214, 1);
  display: flex;
  width: 100%;
  align-items: center;
  gap: 12px;
  justify-content: center;
  padding: 10px 14px;
  border: 1px solid rgba(14, 14, 14, 1);
  cursor: pointer;
  /* appearance: ; */
}

.answer-option {
  padding: 10px 14px;
}

.news-container {
  display: flex;
  margin-top: 20px;
  width: 990px;
  max-width: 100%;
  flex-direction: column;
  font-family: Fira Sans, sans-serif;
}
.news-header {
  width: 100%;
  flex-direction: column;
}
.news-title {
  color: rgba(14, 14, 14, 1);
  font-size: 32px;
  font-weight: 700;
}
.news-subtitle {
  margin-top: 4px;
  font-size: 16px;
  color: rgba(14, 14, 14, 0.7);
  font-weight: 400;
  line-height: 24px;
}
.news-content {
  margin-top: 2px;
  width: 94%;
  padding: 24px 128px 24px 128px;
}
.news-card {
  border-radius: 24px;
  background-color: rgba(255, 255, 255, 1);
  display: flex;
  width: 100%;
  align-items: center;
  gap: 30px;
  padding: 40px;
  margin-bottom: 24px;
}
.news-image {
  object-fit: contain;
  width: 408px;
  border-radius: 24px;
  min-width: 240px;
}
.news-card-content {
  flex: 1;
  min-width: 240px;
}
.article-title {
  color: rgba(14, 14, 14, 0.8);
  font-size: 25px;
  font-weight: 700;
}
.article-meta {
  display: flex;
  margin-top: 1px;
  gap: 1px;
  flex-wrap: wrap;
  font-size: 13px;
  color: rgba(14, 14, 14, 0.7);
}
.article-text {
  margin-top: 10px;
  line-height: 20px;
  font-size: 13px;
  color: rgba(14, 14, 14, 0.7);
}
.read-more-btn {
  border-radius: 8px;
  background-color: rgba(0, 106, 80, 1);
  margin-top: 32px;
  padding: 13px 26px;
  font-size: 18px;
  color: rgba(255, 255, 255, 1);
  font-weight: 600;
  cursor: pointer;
  border: none;
}

.donation-container {
  display: flex;
  /* margin-top: 10px; */
  width: 1020px;
  max-width: 100%;
  flex-direction: column;
  align-items: center;
  font-family: Fira Sans, sans-serif;
  padding: 24px 128px 24px 128px;
}
.donate-section {
  align-self: stretch;
  display: flex;
  width: 100%;
  flex-direction: column;
  text-align: center;
}
.donate-wrapper {
  display: flex;
  width: 100%;
  flex-direction: column;
}
.donation-title {
  color: rgba(14, 14, 14, 1);
  font-size: 40px;
  font-weight: 700;
  align-self: center;
}
.description-wrapper {
  display: flex;
  margin-top: 4px;
  width: 100%;
  flex-direction: column;
  font-size: 16px;
  color: rgba(14, 14, 14, 0.7);
  font-weight: 400;
  line-height: 24px;
}
.description-text {
  align-self: stretch;
  width: 100%;
  gap: 2px;
}
.amount-options {
  display: flex;
  margin-top: 32px;
  align-items: center;
  gap: 24px;
  font-size: 32px;
  color: rgba(14, 14, 14, 0.8);
  font-weight: 700;
  flex-wrap: wrap;
  align-items: center;
}
.amount-box {
  border-radius: 16px;
  background-color: #fff;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto 0;
  padding: 32px;
  border: 1px solid rgba(14, 14, 14, 0.15);
  min-width: 160px;
  /* margin-bottom: 40px; */
}
.amount-box-selected {
  background-color: rgba(198, 228, 214, 1);
}

.amount-box:hover {
  background-color: rgba(198, 228, 214, 0.5);
  cursor: pointer;
}

.custom-amount {
  appearance: textfield;
  text-align: center;
  background-color: #fff;
  border-color: rgba(14, 14, 14, 0.15);
  border-bottom: 1px solid;
  display: flex;
  margin-top: 32px;
  width: 750px;
  max-width: 100%;
  flex-direction: column;
  align-items: center;
  font-size: 20px;
  color: rgba(14, 14, 14, 0.3);
  font-weight: 400;
  justify-content: center;
  padding: 20px 100px 20px 100px;
}

.custom-amount::-webkit-inner-spin-button,
.custom-amount::-webkit-outer-spin-button {
  -webkit-appearance: none; /* Safari and Chrome */
  margin: 0; /* Safari and Chrome */
}

.donate-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.donate-button {
  width: 200px;
  align-self: center;
  border-radius: 8px;
  background-color: rgba(0, 106, 80, 1);
  margin-top: 2px;
  gap: 40px 48px;
  font-size: 18px;
  color: #fff;
  font-weight: 600;
  padding: 17px 34px;
  border: 1px solid rgba(14, 14, 14, 0.1);
  cursor: pointer;
}

.donate-button:hover {
  background-color: lightblue;
  color: black;
}
